.App {
  text-align: center;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

/* Custom Select */
.custom-select {
  position: relative;
  animation: show 300ms ease-in-out forwards;
}
@keyframes show {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.custom-select select {
  padding: 15px 40px;
  border: none;
  border-radius: 16px;
  font-family: "Roboto";
  outline: none;
  font-size: 14px;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  color: #738595;
  width: 250px;
  box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.custom-select .arrow {
  position: absolute;
  right: 15px;
  top: 13px;
  pointer-events: none;
}

.selects {
  display: flex;
  justify-content: center;
  margin-bottom: 85px;
  width: 50%;
}
